.breadcrumb {
    user-select: none;
    -webkit-user-select: none;
    display: -webkit-box;
    color: var(--link-color);
    padding-top: 10px;
    transition: .3s;
}

.breadcrumb p {
    margin: 0 2px;
}

.breadcrumb a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    transition: .3s;
    color: var(--link-color) !important;
    border-radius: 12px;
}

.breadcrumb a:hover{
    padding: 6px;
    font-size: 105%;
    text-decoration: none;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
