.discord-message .discord-message-markup {
    font-size: 16px !important;
}

.discord-messages {
    border-radius: 10px;
}

.discord-quote-container > blockquote {
    background-color: transparent !important;
    border: none !important;
}
