.discord-message .discord-message-markup, .discord-system-message {
    font-size: 16px !important;
}

.discord-message a {
    color: #00aff4 !important;
}

.discord-messages {
    overflow: hidden;
    border-radius: 10px;
    background-color: #2e3035;
    border-width: 0px;
    box-shadow: 2.5px 2.5px 10px rgb(0 0 0 / 50%);
}

@media only screen and (max-width: 768px) {
    .discord-message .discord-message-timestamp, .discord-system-message .discord-message-timestamp  {
        font-size: 10px;
    }
}

.discord-message .discord-message-timestamp, .discord-system-message .discord-message-timestamp  {
    user-select: none;
    -webkit-user-select: none;
    color: #999;
    font-size: 12px;
    margin-left: 3px;
}

.discord-quote-container > blockquote {
    background-color: transparent !important;
    border: none !important;
}

.discord-message-ephemeral {
    user-select: none;
    -webkit-user-select: none;
}

.discord-message .discord-author-info .discord-application-tag {
    user-select: none;
    -webkit-user-select: none;
    background-color: #5865f2;
    color: #fff;
    font-size: 12px;
    margin-left: 4px;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 1.5rem;
    padding: 0 0.275rem;
    margin-top: 0.075em;
    border-radius: 4px;
    padding: 3px 5px;
}

.discord-message .discord-author-info .discord-application-tag-verified {
    display: inline-block;
    height: 17px;
    width: 17px;
    margin-left: -0.25rem;
}

.discord-embed-wrapper {
    border-top: 1.5px solid hsl(0deg 0% 50% / 10%) !important;
    border-bottom: 1.5px solid hsl(0deg 0% 50% / 10%) !important;
    border-right: 1.5px solid hsl(0deg 0% 50% / 10%) !important;
}

.discord-embed .discord-embed-author {
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    display: flex;
    font-weight: 600;
    grid-column: 1 / 1;
    margin-top: 3px;
    min-width: 0;
}

.discord-embed .discord-embed-title {
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    grid-column: 1 / 1;
    margin-top: .1rem;
    min-width: 0;
}

.discord-embed .discord-embed-description {
    font-size: 15px;
    font-weight: 400;
    grid-column: 1 / 1;
    line-height: 1.125rem;
    margin-top: -19px;
    min-width: 0;
    white-space: pre-line;
    line-height: 20px;
}

.discord-embed-footer .discord-message-timestamp {
    user-select: auto;
    -webkit-user-select: auto;
    color: #d0d2d3;
}

.discord-embed-footer .discord-message-timestamp:before {
    user-select: auto;
    content: '• ';
    color: #d0d2d3;
}

.discord-embed .discord-embed-wrapper .discord-embed-grid {
    display: inline-grid;
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0.5rem 1rem 1rem 0.75rem;
    margin-left: 4px;
}

.discord-message .discord-author-avatar {
    user-select: none;
    -webkit-user-select: none;
    margin-right: 13px;
    margin-top: 4px;
    min-width: 40px;
    z-index: 1;
}

.discord-embed .discord-embed-field .discord-field-title {
    color: #fff;
    font-weight: 500;
    font-size: 13.98px;
    line-height: 1.5rem;
    min-width: 0;
    margin-bottom: 9px;
}

.discord-embed .discord-embed-field {
    font-size: 13px;
    line-height: 1.25rem;
    min-width: 0;
    font-weight: 400;
    grid-column: 1 / 13;
}

.discord-embed {
    display: flex;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 8px;
    margin-top: 1px;
}

.discord-custom-emoji-image {
    width: 17px !important;
    height: 17px !important;
}

.discord-message-markup .hydrated code, .discord-message-markup code {
    border-radius: 4.3px;
    padding-top: 1.5px;
    padding-right: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    border: 1.2px solid #1e1f22;
    background: #191919;
    color: #d5d3d1 !important;
    box-shadow: none;
}

.discord-message-markup .hydrated blockquote {
    line-height: 17px;
    box-shadow: none;
}

.discord-message-markup .hydrated .discord-quote-divider {
    padding-bottom: 10px !important; 
    padding-top: 10px !important;
    margin-top: -.5px !important;
}

.discord-message .discord-message-body {
    font-size: 1rem;
    font-weight: 400;
    word-break: break-word;
    position: relative;
}

.discord-message .discord-mention .discord-mention-icon {
    width: 1em !important;
    height: 1em !important;
    left: 0.125em !important;
    top: 0.125em !important;
}

.discord-message .discord-mention.discord-channel-mention {
    padding-left: 1.2em !important;
}

.discord-reaction .discord-reaction-inner {
    display: flex;
    align-items: center;
    padding: 0px 11px;
    transform: scale(1.4);
}

.discord-button {
    margin-top: -2px;
    border-radius: 10px;
    border: 1px solid hsl(0deg 0% 100% / 10%);
}

.discord-button.discord-button-secondary {
    color: #fff !important;
}

.discord-reaction-inner img {
    border-radius: 0;
}

.discord-reaction .discord-reaction-count {
    user-select: none;
    -webkit-user-select: none;
    font-size: 11px;
    font-weight: 500;
    margin-left: 0.375rem;
    text-align: center;
    color: #b9bbbe;
    align-items: center;
    justify-content: center;
    display: flex;
}

.discord-reaction {
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0.5rem;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    transition: none 0.1s ease;
    transition-property: background-color, border-color;
    background-color: #272727;
    border: 1px solid transparent;
}

.discord-replied-message-content:not(.discord-command-name) {
    margin-left: -3rem;
}

.discord-time-mark {
    display: inline;
    background: hsl(0deg 0% 29.22% / 50%);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.discord-time-mark:hover:before {
    position: absolute;
    top: -28px;
    content: "Timestamp mark";
    background: rgb(13 13 13 / 85%);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

/* Time marks */
.discord-message [id$="-mark"] {
    line-height: 19px;
}




