/* Globals */
:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}
/* Globals */

/* Community Themes */
/* BDFD */
.bdfd {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #673ab7;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #673ab7;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
    
    --chapter-hover-bg: var(--theme-hover);
}
/* BDFD */

/* IOS */
.ios code {
    color: #eadfff;
    background-color: #302638;
}

.ios {
    --bg: #221c2a;
    --fg: #eadfff;
    --sidebar-bg: #2f2534;
    --sidebar-fg: #fadfff;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #d46bdd;
    --sidebar-spacer: #854dc8;
    --scrollbar: #7757b0;
    --icons: #9b57b0;
    --icons-hover: #f1e9f5;
    --links: #ab4dc8;
    --inline-code-color: #f6d7ff;
    --theme-popup-bg: #221c2a;
    --theme-popup-border: #fadfff;
    --theme-hover: #714991;
    --quote-bg: #221c2a;
    --quote-border: #746bdd;
    --table-border-color: #2c2534;
    --table-header-bg: #211c2a;
    --table-alternate-bg: #6b4dc8;
    --searchbar-border-color: #e9dfff;
    --searchbar-bg: #282534;
    --searchbar-fg: #efdfff;
    --searchbar-shadow-color: #1f1c2a;
    --searchresults-header-fg: #eadfff;
    --searchresults-border-color: #FFDFDF;
    --searchresults-li-bg: #eadfff;
    --search-mark-bg: #eadfff;
    --chapter-hover-bg: #2f2534;
}
/* IOS */

/* Green */
.green code {
    color: #D7FFE7;
    background-color: #2C332F;
}

.green {
    text-shadow: 0 0 10px #316a43;
}

.green {
    --bg: #161817;
    --fg: #D1FFE3;
    --sidebar-bg: #17201B;
    --sidebar-fg: #D7FFE7;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #3F9762;
    --sidebar-spacer: #245437;
    --scrollbar: #50A371;
    --icons: #50A371;
    --icons-hover: #E9F5EE;
    --links: #5BA277;
    --inline-code-color: #D7FFE7;
    --theme-popup-bg: #17201B;
    --theme-popup-border: #245437;
    --theme-hover: #6DA282;
    --quote-bg: #17201B;
    --quote-border: #D7FFE7;
    --table-border-color: #245437;
    --table-header-bg: #17201B;
    --table-alternate-bg: #245437;
    --searchbar-border-color: #D1FFE3;
    --searchbar-bg: #17201B;
    --searchbar-fg: #D7FFE7;
    --searchbar-shadow-color: #245437;
    --searchresults-header-fg: #F7FCF9;
    --searchresults-border-color: #F7FCF9;
    --searchresults-li-bg: #5BA277;
    --search-mark-bg: #F7FCF9;
    --chapter-hover-bg: #172018;
}
/* Green */

/* Gluo */
.gluo {
    --bg: hsl(240, 7%, 11%);
    --fg: #fff;

    --sidebar-bg: #161618;
    --sidebar-fg: #fff;
    --sidebar-non-existant: #505254;
    --sidebar-active: #0d6dea;
    --sidebar-spacer: #23242a;

    --scrollbar: var(--sidebar-fg);

    --icons: #fff;
    --icons-hover: #808080;

    --links: #0d6dea;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(214, 90%, 16%);
    --quote-border: hsl(213, 93%, 6%);

    --table-border-color: #0d6dea;
    --table-header-bg: hsl(231, 9%, 15%);
    --table-alternate-bg: #151518;

    --searchbar-border-color: #0d6dea;
    --searchbar-bg: #161618;
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #257df0;
    --searchresults-header-fg: #fff;
    --searchresults-border-color: #808080;
    --searchresults-li-bg: #161618;
    --search-mark-bg: #355c7d;
    
    --chapter-hover-bg: var(--theme-hover);

    font-family: Montserrat;
}

.gluo a:not(.header) {
    text-shadow: 0 0 10px #257df0;
}
/* Gluo */

/* Kinda Neon */
.kneon {
    --bg: #170312;
    --fg: #c5c5c5;

    --sidebar-bg: #170312;
    --sidebar-fg: #c5c5c5;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #fe27c3;
    --sidebar-spacer: #fe27c3;

    --scrollbar: #91146f;

    --icons: #f76ed1;
    --icons-hover: #91146f;

    --links: #fe275b;

    --inline-code-color: #fe27c3;

    --theme-popup-bg: #170312;
    --theme-popup-border: #fe27c3;
    --theme-hover: #91146f;

    --quote-bg: #35112b;
    --quote-border: #fe27c3;

    --table-border-color: #91146f;
    --table-header-bg: #2d0221;
    --table-alternate-bg: #2d0221;

    --searchbar-border-color: #fe27c3;
    --searchbar-bg: #170312;
    --searchbar-fg: #f76ed1;
    --searchbar-shadow-color: #fe275b;
    --searchresults-header-fg: #f76ed1;
    --searchresults-border-color: #fe275b;
    --searchresults-li-bg: #170312;
    --search-mark-bg: #f76ed1;

    --chapter-hover-bg: #170312
}

.kneon {
    text-shadow: 0 0 10px #170312;
}

.kneon ::-webkit-scrollbar {
    width: 15px;
    height: 12px
}

.kneon code {
    background: #35112b;
    border-radius: 10px;
}

.kneon blockquote {
    border-radius: 10px;
}
/* Kinda Neon */

/* Shiro's Theme */
.shiro {
    --bg: hsl(0, 0%, 0%);
    --fg: #c5c5c5;

    --sidebar-bg: hsl(0, 0%, 0%);
    --sidebar-fg: #c5c5c5;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #2e91fb;
    --sidebar-spacer: #2e91fb;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #2e91fb;

    --links: #a689fc;

    --inline-code-color: #2e91fb;

    --theme-popup-bg: hsl(0, 0%, 0%);
    --theme-popup-border: #2e91fb;
    --theme-hover: #2e91fb;

    --quote-bg: hsl(0, 0%, 0%);
    --quote-border: #2e91fb;

    --table-border-color: hsl(210, 25%, 13%);
    --table-header-bg: hsl(210, 25%, 28%);
    --table-alternate-bg: hsl(210, 25%, 11%);

    --searchbar-border-color: #2e91fb;
    --searchbar-bg: hsl(0, 0%, 0%);
    --searchbar-fg: #2e91fb;
    --searchbar-shadow-color: #d4c89f;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #2e91fb;
    
    --chapter-hover-bg: var(--theme-hover);
}
/* Shiro's Theme */

/* Terminal */
.terminal {
    --bg: #0c0c0c;
    --fg: #149414;

    --sidebar-bg: #090808;
    --sidebar-fg: #9ccc9c;
    --sidebar-non-existant: #2b5329;
    --sidebar-active: #649568;
    --sidebar-spacer: #23242a;

    --scrollbar: #2b5329;

    --icons: #fff;
    --icons-hover: #2b5329;

    --links: #9ccc9c;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #0c0c0c;
    --theme-popup-border: #0e6b0e;
    --theme-hover: #2b5329;

    --quote-bg: #0c0c0c;
    --quote-border: #0e6b0e;

    --table-border-color: #2b5329;
    --table-header-bg: #2b5329;
    --table-alternate-bg: #0e1c0d;

    --searchbar-border-color: #9ccc9c;
    --searchbar-bg: #000;
    --searchbar-fg: #9ccc9c;
    --searchbar-shadow-color: #9ccc9c;
    --searchresults-header-fg: #9ccc9c;
    --searchresults-border-color: #649568;
    --searchresults-li-bg: #2b5329;
    --search-mark-bg: #2b5329;

    --chapter-hover-bg: var(--theme-hover);
}

.terminal a:not(.header) {
    text-shadow: 0 0 10px#00ff05;
}

/* Terminal */

/* High Contrast */
.highcon {
    --bg: #070707;
    --fg: #ffd334;

    --sidebar-bg: #070707;
    --sidebar-fg: #ffd334;
    --sidebar-non-existant: #000;
    --sidebar-active: #04afff;
    --sidebar-spacer: #04afff;

    --scrollbar: #fff;

    --icons: #ffd334;
    --icons-hover: #04afff;

    --links: #04afff;

    --inline-code-color: #fff;

    --theme-popup-bg: #070707;
    --theme-popup-border: #ffffff;
    --theme-hover: #04afff25;

    --quote-bg: #1c1c1c;
    --quote-border: #04afff;

    --table-border-color: #fff;
    --table-header-bg: #1c1c1c;
    --table-alternate-bg: #1c1c1c;

    --searchbar-border-color: #04afff;
    --searchbar-bg: #070707;
    --searchbar-fg: #ffd334;
    --searchbar-shadow-color: #ffffff;
    --searchresults-header-fg: #ffffff;
    --searchresults-border-color: #ffffff;
    --searchresults-li-bg: #fff;
    --search-mark-bg: #fff;
}
/* High Contrast */

.discord {
    --bg: #36393F;
    --fg: #fff;

    --sidebar-bg: #2f3136;
    --sidebar-fg: #fff;
    --sidebar-non-existant: #4b4b4b;
    --sidebar-active: #fff;
    --sidebar-spacer: 	#40444b;

    --scrollbar: #292b2f;

    --icons: #fff;
    --icons-hover: #292b2f;

    --links: #2b91f4;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #36393F;
    --theme-popup-border: #202225;
    --theme-hover: #2f3136;

    --quote-bg: #36393F;
    --quote-border: #2f3136;

    --table-border-color:#2f3136;
    --table-header-bg:#2f3136;
    --table-alternate-bg: #2f3136;

    --searchbar-border-color: #292b2f;
    --searchbar-bg: #2f3136;
    --searchbar-fg: #b5b5b5;
    --searchbar-shadow-color: #40444b;
    --searchresults-header-fg: #a0a0a0;
    --searchresults-border-color: #a0a0a0;
    --searchresults-li-bg: #a0a0a0;
    --search-mark-bg: #a0a0a0;

    --chapter-hover-bg: var(--theme-hover);
}
/* Discord */
/* Community Themes */

/* Initial Themes */
.ayu {
    --bg: hsl(210, 25%, 8%);
    --fg: #c5c5c5;

    --sidebar-bg: #14191f;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #5c6773;
    --sidebar-active: #ffb454;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #0096cf;

    --inline-code-color: #ffb454;

    --theme-popup-bg: #14191f;
    --theme-popup-border: #5c6773;
    --theme-hover: #191f26;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --table-border-color: hsl(210, 25%, 13%);
    --table-header-bg: hsl(210, 25%, 28%);
    --table-alternate-bg: hsl(210, 25%, 11%);

    --searchbar-border-color: #848484;
    --searchbar-bg: #424242;
    --searchbar-fg: #fff;
    --searchbar-shadow-color: #d4c89f;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #252932;
    --search-mark-bg: #e3b171;
    
    --chapter-hover-bg: var(--theme-hover);
}

.coal {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3473ad;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
    
    --chapter-hover-bg: var(--theme-hover);
}

.light {
    --bg: hsl(0, 0%, 100%);
    --fg: #333333;

    --sidebar-bg: #fafafa;
    --sidebar-fg: #364149;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #008cff;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #cccccc;

    --icons: #cccccc;
    --icons-hover: #333333;

    --links: #4183c4;

    --inline-code-color: #6e6b5e;

    --theme-popup-bg: #fafafa;
    --theme-popup-border: #cccccc;
    --theme-hover: #e6e6e6;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;
    
    --chapter-hover-bg: var(--theme-hover);
}

.navy {
    --bg: hsl(226, 23%, 11%);
    --fg: #bcbdd0;

    --sidebar-bg: #282d3f;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #505274;
    --sidebar-active: #2b79a2;
    --sidebar-spacer: #2d334f;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #b7b9cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;;

    --theme-popup-bg: #161923;
    --theme-popup-border: #737480;
    --theme-hover: #282e40;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --table-border-color: hsl(226, 23%, 16%);
    --table-header-bg: hsl(226, 23%, 31%);
    --table-alternate-bg: hsl(226, 23%, 14%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #aeaec6;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #5f5f71;
    --searchresults-border-color: #5c5c68;
    --searchresults-li-bg: #242430;
    --search-mark-bg: #a2cff5;
    
    --chapter-hover-bg: var(--theme-hover);
}

.rust {
    --bg: hsl(60, 9%, 87%);
    --fg: #262625;

    --sidebar-bg: #3b2e2a;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #505254;
    --sidebar-active: #e69f67;
    --sidebar-spacer: #45373a;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #262625;

    --links: #2b79a2;

    --inline-code-color: #6e6b5e;

    --theme-popup-bg: #e1e1db;
    --theme-popup-border: #b38f6b;
    --theme-hover: #99908a;

    --quote-bg: hsl(60, 5%, 75%);
    --quote-border: hsl(60, 5%, 70%);

    --table-border-color: hsl(60, 9%, 82%);
    --table-header-bg: #b3a497;
    --table-alternate-bg: hsl(60, 9%, 84%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #dec2a2;
    --search-mark-bg: #e69f67;
    
    --chapter-hover-bg: var(--theme-hover);
}
/* Initial Themes */

@media (prefers-color-scheme: dark) {
    .light.no-js {
        --bg: hsl(200, 7%, 8%);
        --fg: #98a3ad;

        --sidebar-bg: #292c2f;
        --sidebar-fg: #a1adb8;
        --sidebar-non-existant: #505254;
        --sidebar-active: #3473ad;
        --sidebar-spacer: #393939;

        --scrollbar: var(--sidebar-fg);

        --icons: #43484d;
        --icons-hover: #b3c0cc;

        --links: #2b79a2;

        --inline-code-color: #c5c8c6;;

        --theme-popup-bg: #141617;
        --theme-popup-border: #43484d;
        --theme-hover: #1f2124;

        --quote-bg: hsl(234, 21%, 18%);
        --quote-border: hsl(234, 21%, 23%);

        --table-border-color: hsl(200, 7%, 13%);
        --table-header-bg: hsl(200, 7%, 28%);
        --table-alternate-bg: hsl(200, 7%, 11%);

        --searchbar-border-color: #aaa;
        --searchbar-bg: #b7b7b7;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #98a3ad;
        --searchresults-li-bg: #2b2b2f;
        --search-mark-bg: #355c7d;
        
        --chapter-hover-bg: var(--theme-hover);
    }
}
