/* Main */
@import './wiki-themes/root.css';
@import './wiki-themes/breadcrumbs.css';

/* Community Themes */
@import './wiki-themes/comm/bdfd.css';
@import './wiki-themes/comm/ios.css';
@import './wiki-themes/comm/green.css';
@import './wiki-themes/comm/gluo.css';
@import './wiki-themes/comm/kneon.css';
@import './wiki-themes/comm/discord.css';
@import './wiki-themes/comm/highcon.css';

/* Initial Themes */
@import './wiki-themes/init/ayu.css';
@import './wiki-themes/init/light.css';
@import './wiki-themes/init/navy.css';
@import './wiki-themes/init/rust.css';

/* Light No JS */
@media (prefers-color-scheme: dark) {
    .light.no-js {
        --bg: hsl(200, 7%, 8%);
        --fg: #98a3ad;

        --sidebar-bg: #292c2f;
        --sidebar-fg: #a1adb8;
        --sidebar-non-existant: #505254;
        --sidebar-active: #3473ad;
        --sidebar-spacer: #393939;

        --scrollbar: var(--sidebar-fg);

        --icons: #43484d;
        --icons-hover: #b3c0cc;

        --links: #2b79a2;

        --inline-code-color: #c5c8c6;;

        --theme-popup-bg: #141617;
        --theme-popup-border: #43484d;
        --theme-hover: #1f2124;

        --quote-bg: hsl(234, 21%, 18%);
        --quote-border: hsl(234, 21%, 23%);

        --table-border-color: hsl(200, 7%, 13%);
        --table-header-bg: hsl(200, 7%, 28%);
        --table-alternate-bg: hsl(200, 7%, 11%);

        --searchbar-border-color: #aaa;
        --searchbar-bg: #b7b7b7;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #98a3ad;
        --searchresults-li-bg: #2b2b2f;
        --search-mark-bg: #355c7d;
        
        --chapter-hover-bg: var(--theme-hover);
    }
}