.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    white-space: pre-wrap;
    padding: 5px;
}

.breadcrumb a {
    display: flex;
    border-style: solid;
    border-radius: 100px;
    margin: 5px 5px;
    text-decoration: none;
}

.breadcrumb a:hover{
    color: var(--icons-hover);
    text-decoration: none;
}

.breadcrumb :link:hover{
    color: var(--icons-hover);
    text-decoration: none;
}

.breadcrumb-header {
    display: flex;
    color: var(--links);
    cursor: default;
    padding: 5px;
}